.tags {
  margin-top: 320px;
  height: 300px;
  overflow-y: scroll;
}

.tags h5 {
  padding: 15px 0px ;
}

.tag-item {
  width: 230px;
  padding: 10px;
  list-style: none;
  transition: 0.2s;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #202428;
}

.tag-item:hover {
  background: #DEDEDE;
}