
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  60px 1fr;
  grid-gap: 20px 1em;
  justify-items: center;
}

.postList {
  grid-column: 2;
  grid-row: 2;
  margin-top: 50px;
}

.postList .post {
  width: 680px;
  min-height: 180px ;
  margin-bottom: 10px;
  box-sizing: content-box;
  cursor: pointer;
}

.postList .post .post-content{
  width: 100%;
  padding: 5px 20px 0px 60px;
}

.post-info .imgMask {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
}

.post-content h1{
  line-height: 45px;
}

.post-content h1:hover {
  color: #3B49DF;
}

.post-info {
  display: flex;
  padding: 10px;
}

.postList .post .mask {
  height: 277px;
  background: #DEDEDE;
  border-radius: 3px, 0px;
}

.postList .post h1{
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 37px;
  font-weight: bold;
}

.post-tags {
  display: flex;
}

.post-tags li {
  margin-right: 20px;
}

.post-footer {
  display: flex;
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 40px;
  justify-content: space-between;
}

.post-footer p{
  margin-left: 5px;
  margin-right: 15px;  
}

.post-footer .action{
  box-sizing: border-box;
  display: flex;
  padding: 10px 0px;
}

.post button{
  width: 60px;
  height: 30px;
  color: #000000;
  background: #b5bdc4b6;
  transition: 0.2s;
} 

.post button:hover {
  background: #b5bdc4;
}

.leftList {
  grid-column: 1;
  grid-row: 2;
}


.leftList .item{
  display: flex;
  width: 250px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  padding: 10px 10px;
  list-style: none;
  line-height: 20.7px;
}
  
.leftList .item:hover {
  background: rgba(222, 222, 222, 0.616);
}

.leftList .item span.notify{
  margin-left: 15px;
  background-color: rgba(128, 128, 128, 0.466);
}
          
.leftList .icon {
  margin-right: 7px;
}

.leftList .user {
  padding-top: 10px;
  height: 66px;
  margin-bottom: 10px;
}

.leftList strong {
  font-size: 15px;
  font-weight: bold;
}

.leftList .user p {
  font-size: 12px ;
  font-weight: lighter;
  line-height: 27px;
}

.leftList .imgMask {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.feed-bar { 
  grid-row: 2;
  grid-column: 2;
  height: 40px;
  width: 670px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed-bar h3 {
  font-family: 'Open Sans', sans-serif;
}

.feed-bar ul {
  display: flex;
  list-style: none;
  font-family:  Tahoma ;
}

.feed-bar li {
  font-size: 30px;
  color: rgb(177, 177, 177);
}

.feed-bar a {
  display: block;
  text-decoration: none;
}

.feed-bar .feed-button {
  list-style: none;
  text-align: center;
  border-radius: 3px;
  transition: 0.2s;
  padding: 8px 7px;
  font-family:  Tahoma ;
  font-weight: 500;
  font-size: 15px;
  display: block;
  margin: 3px;
  color: black;
}

.feed-bar .feed-button.selected {
  box-shadow: 0px 4px   rgba(104, 112, 241) ;
  font-weight: bold;
}

.feed-bar .feed-button:hover {
  color: rgba(104, 112, 241) ;
  background-color:#D5DCFE;
}

.g-image {
  grid-column: 3;
  grid-row: 2 ;
  width: 277px;
}

.stories {
  margin-top: 250px;
  grid-column: 3;
  width: 277px;
  line-height: 20.7px;
}

.stories h5 {
  padding: 15px 0px ;
}


.storie-item {
  width: 277px;
  transition: 0.2s;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  padding: 10px 30px;
  font-weight: 500;
  color: #202428;
}

.storie-item li {
  word-break: break-all;
}

.storie-item:hover {
  background: #DEDEDE;
}


.stories button{
  padding: 0px 20px ;
  width: 277px;
  height: 40px;
  margin-top: 15px;
}

.secundary {
  background: #ffffff;
  color: #000000;
}

.tags {
  grid-row: 2;
  grid-column: 1;
}