* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body{
  background: #EEF0F1;
  font-family: 'Open sans', sans-serif;
}

button {
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}

.main {
  color: #FFFFFF;
  background: #3B49DF;
}

.imgMask {
  border-radius: 50%;
}

.card {
  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
}

span.notify{
  height: 18px;
  width: 13px;
  border-radius: 3px;
  z-index: 1;
  text-align: center;
  color: whitesmoke;
}